<h3>Update Produtos</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Codigo</label>
      <input type="text" class="form-control" id="codigo" required [(ngModel)]="produtos.codigo" name="codigo">
    </div>

    <div class="form-group">
      <label for="name">Produto</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="produtos.nome" name="nome">
    </div>

    <div class="form-group">
      <label for="name">Preço</label>
      <input type="text" class="form-control" id="preco" required [(ngModel)]="produtos.preco" name="preco">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
